## Handling csv files

In [14]:
file="mstp.txt"
def name(file):
    with open(file,'w') as f:
        f.write("kvsw"+","+"kysr"+","+"kvsm")
name(file)

In [15]:
with open(file,'a') as f:
    f.write("\n""cse"+","+"ece"+","+"civil")

In [16]:
n="\nhisdwedhdhwh"
with open(file,'a') as f:
    f.write(n)

In [17]:
with open(file,'r') as f:
    n=f.read()
    print(n)

kvsw,kysr,kvsm
cse,ece,civil
hisdwedhdhwh

In [18]:
with open(file,'r') as f:
    n=f.readlines()
    print(n)

['kvsw,kysr,kvsm\n', 'cse,ece,civil\n', 'hisdwedhdhwh']

In [19]:
with open(file,'r') as f:
    n=f.readlines()
    print(n[0])

kvsw,kysr,kvsm

In [84]:
file="contacts.txt"
with open(file,'a') as f:
    f.write("name"+","+"8790695442"+","+"k.lakshmisudha98@gmail.com")
    f.write("\nname1"+","+"6304496188"+","+"lakshmi99sls@gmail.com")

In [85]:
file="contacts.txt"
def csvtolist(file):
    with open(file,'r') as f:
        s=f.readlines()
        print(s)
        print(s[1])
csvtolist(file)

['name,8790695442,k.lakshmisudha98@gmail.com\n', 'name1,6304496188,lakshmi99sls@gmail.com']
name1,6304496188,lakshmi99sls@gmail.com

In [86]:
file="contacts.txt"
def csvtolist(file):
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
        print(l)
        print(l[0][1])
        print(l[0][2])
        print(l[1][1])
        print(l[1][2])
csvtolist(file)

[['name', '8790695442', 'k.lakshmisudha98@gmail.com\n'], ['name1', '6304496188', 'lakshmi99sls@gmail.com']]
8790695442
k.lakshmisudha98@gmail.com

6304496188
lakshmi99sls@gmail.com

In [87]:
file="contacts.txt"
def csvtolist(file):
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l
csvtolist(file)

[['name', '8790695442', 'k.lakshmisudha98@gmail.com\n'],
 ['name1', '6304496188', 'lakshmi99sls@gmail.com']]

## list to csv

In [88]:
file="contacts.txt"
def csvtolist(file):
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l

csvtolist(file)
def listtocsv(file):
    d=csvtolist(file)
    s=""
    for i in d:
        s+=",".join(i)
        print(s)
listtocsv(file)

name,8790695442,k.lakshmisudha98@gmail.com

name,8790695442,k.lakshmisudha98@gmail.com
name1,6304496188,lakshmi99sls@gmail.com

In [91]:
def phoneno(no):
    pattern='^[+][9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$'
    if re.match(pattern,no):
        return 1
    else:
        return 0
def email(n):
    
    pattern='^([a-z]|[A-Z]|[0-9])([a-z]|[A-Z]|[0-9]|[_]|[.]){6,14}([0-9]|[a-z])@[a-z]{2,10}[.][a-z]{2,4}$'
    if re.match(pattern,n):
        return 1
    else:
        return 0
def searchcontact(name,file):
    s=csvtolist(file)
    for i in s:
        if i[0]==name:
            return 1
    return 0        
searchcontact("name","contacts.txt")
def addcontact(name,no,email1,file):
    if searchcontact(name,file)==0:
        if phoneno(no)==1:
            print(" phoneno validation successfull")
            if email(email1)==1:
                print("email validation successfull")
                with open(file,'a') as f:
                    f.write(name+","+"no"+","+email1+"\n")
                    print("contact added succesfully")
    else:
        print("already exist")
addcontact("cse","9959378850","kuruvasumithra@gmail.com","contacts.txt")

already exist

# Functional programing

In [ ]:
# ex procedure
#scripting -php,java,python,

# List or dictionaries or tuples or sets comphrehension

In [4]:
# print n natura numbers
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

5
1 2 3 4 5

In [ ]:
# list comprehension
-->expression for list in item condition

In [6]:
n=int(input())
li=[i for i in range(1,n+1)]
li

5

[1, 2, 3, 4, 5]

In [7]:
x="mstp"
for i in x:
    print(x)

mstp
mstp
mstp
mstp

In [8]:
s="google.com"
a=s.upper()
a

'GOOGLE.COM'

In [12]:
f=[i.upper()for i in s]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [24]:
x="123lucky"
for i in x:
    if i.isdigit():
        print(i,end=" ")

1 2 3

In [25]:
for i in x:
    if i.isalpha():
        print(i,end=" ")

l u c k y

In [26]:
ls=[a for a in x if a.isalpha()]
l2=[a for a in x if a.isdigit()]
print(ls)
print(l2)

['l', 'u', 'c', 'k', 'y']
['1', '2', '3']

In [28]:
#squreroot of first 10 numbers
n=int(input())
for i in range(1,n+1):
    i=i**0.5
    print(i)

10
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795

In [29]:
n=int(input())
s=[i**0.5 for i in range(1,n+1)]
s

5

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [30]:
import math
n=5
for i in range(1,n+1):
    l.append(math.sqrt(i))
l

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [32]:
li=[math.sqrt(n) for n in range(1,n+1)]
li

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [42]:
#
s=[i*i for i in range(21,31)]
s

[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [43]:
#cube of a number
k=[i**3 for i in range(41,51)]
k

[68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000]

In [64]:
#functions to print factorial of a number
def factorial(n):
    l=[]
    fact=1
    for i in range(1,n+1):
        fact=fact*i
        l.append(fact)
    print(l)
factorial(5)

[1, 2, 6, 24, 120]

In [68]:
l=[factorial(i) for i in range(5)]

[]
[1]
[1, 2]
[1, 2, 6]
[1, 2, 6, 24]

In [77]:
#even odd
for i in range(21,31):
    if i%2==0:
        print(i)
    if i%2!=0:
        print(i)

21
22
23
24
25
26
27
28
29
30

In [76]:
#even and odd numbers
l=[i for i in range(21,31) if i%2==0]
l1=[i for i in range(21,31) if i%2!=0]
print(l,l1)

[22, 24, 26, 28, 30] [21, 23, 25, 27, 29]

In [78]:
h=["even" if i%22==0 else "odd" for i in range(21,31)]
h1=[i if i%2==0 else i for i in range(21,31)]
print(h)
print(h1)

['odd', 'even', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd']
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

# list in list

In [79]:
l=[i for i in range(1,20+1) if i%2==0 if i%5==0]
l

[10, 20]

In [85]:
#leap years from 2000-2020
l=[i for i in range(2000,2021) if i%4==0 and i%100!=0 or i%400==0]
l

[2000, 2004, 2008, 2012, 2016, 2020]

# Lambda

In [89]:
# lambda function is also called as anonymous function
# syntax
        #-->lambda arguments:expressions
def square(n):
    n**2
square(3)
d=lambda n:n**2
print(d(4))

16

In [91]:
d=lambda n:n**3
print(d(4))

64

In [102]:
l=[1,2,3,4,5]
l1=[]
for j in range(len(l)):
    a=l[j]**2
    l1.append(a)
print(l1)

[1, 4, 9, 16, 25]

In [94]:
a=[l[i]**2 for i in range(len(l))]
a

[1, 4, 9, 16, 25]

# iterators

In [97]:
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")

1 2 3 4 5

In [101]:
# iter(),next()
a=iter(l)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5

# Generators

In [107]:
def add(a,b):
    return a+b
    a+=1
    b=+1
    return a+b
add(3,5)

8

In [110]:
#yield() next()
def add(a,b):
    c=a+b
    yield c
    a+=1
    b+=1
    c=a+b
    yield c
d=add(2,3)
print(next(d))
print(next(d))
for i in add(2,3):
    print(i)

5
7
5
7

In [120]:
#factorial 
def fact2(n):
    fact=1
    fact=fact*i
    return fact
fact2(1)

7

# map

In [116]:
# syntax---map(fun,iterable)
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [122]:
l=[1,2,3,4,5]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25]

In [124]:
#addition of two numbers
t1=(1,2,3)
t2=(4,5,6)
a=map(lambda a,b:a+b,t1,t2)
print(list(a))

[5, 7, 9]

# filter

In [125]:
# filter(fun,iterable)
l=[1,2,3,4,5]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4]

In [138]:
l=[1,2,3,'a','b']
l1=[]
for i in l:
    if str(i).isdigit():
        l1.append(i)
print(l1)
def digit(l):
    if str(l).isdigit():
        return True
    return False
a=list(filter(digit,l))
a

[1, 2, 3]

[1, 2, 3]

In [142]:
def prime(n):
    fact=0
    for i in range(1,n+1):
        if n%i==0:
            fact=fact+1
    if fact==2:
        return 1
    return 0

a=list(filter(prime,l))
a

[2, 3, 5, 7]

In [ ]:
l1=[]
for i in l