# Day Objectives
## markdown syntax
### python basics

**hai**

*hlo*

***bye***

* hlo

>hai

## Python Basics

## find python version

In [1]:
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

## print hello world

In [2]:
print("Hello world")

Hello world

In [3]:
print("kvsw lakshmi")

kvsw lakshmi

## Data types in python
* Int
* Float
* String
* complex
* List
* Tuple
* set

In [4]:
# xyz_=

In [5]:
a=5
print(a)

5

In [6]:
type(a)

int

In [7]:
b="10.9"
print(b)

10.9

In [8]:
type(b)

str

In [9]:
c=10.9
print(c)
type(c)

10.9

float

In [10]:
a=5+10j
type(a)

complex

In [11]:
a

(5+10j)

## Data type conversion

In [12]:
s=str(a)
s

'(5+10j)'

In [16]:
x=10

In [17]:
l=float(x)
l

10.0

In [18]:
m=float(b)
print(m)
print(type(m))

10.9
<class 'float'>

## Variables assigning
>1.different veriables can be assigned as different veriables
>2.same data types can be assigned to a different veriables

In [19]:
m,n,o=30,"welcome",67.8
print(m,n,o)

30 welcome 67.8

In [20]:
m,n,o=30,"welcome",56.8
print(m,n,o)
print(type(m),type(n),type(o))

30 welcome 56.8
<class 'int'> <class 'str'> <class 'float'>

In [22]:
m=n=o="mstp"
m

'mstp'

## arithimetic and logical operations in python

In [30]:
a=10
b=20
print(a+b)
print(a-b)
print(a/b)
print((a//b))
print(a**b)

30
-10
0.5
0
100000000000000000000

## Comments in python

In [ ]:
'''tjytttgtg
ieyheey
ujuiioo
eueijenh'''

## TASKS

In [10]:
print('"welcome to apssdc \n mstp program"')

"welcome to apssdc
 mstp program"

In [11]:
print('"***** \n *** \n ** "')

"*****
 ***
 ** "

In [12]:
pi=3.14
print(pi)
type(pi)

3.14

float

In [14]:
a=101**3
print(a)

1030301

In [15]:
avg=23,46
print(avg)

(23, 46)